<div *ngIf="isLogin==false && issignup==false">

<section class="vh-100 bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Sign In</h2>

               <form #personForm="ngForm" (ngSubmit)="LoginForm(personForm)">


                <div class="form-outline mb-4">
                  <!-- <mat-form-field appearance="fill"></mat-form-field>
                  <label class="form-label" for="password1">Email</label>
                  <input type="email" id="email1" name="emailuser" #emaillogin="ngModel" [(ngModel)]="emailuser" class="form-control form-control-lg" required  /> 
                  
                </div> -->
                <div class="form-outline" col-md-12>
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input required id="email1" matInput placeholder="Enter Email" #emaillogin="ngModel" name="emailuser" [(ngModel)]="emailuser"/>
                    <mat-error *ngIf="emaillogin.invalid">
                      Email is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                </div>
                  
                  
                   
                  <!-- <input type="email" id="email1" name="emailuser" #emaillogin="ngModel" [(ngModel)]="emailuser" class="form-control form-control-lg" required matInput /> 
                  <mat-error *ngIf="emaillogin.invalid">
                    Email is <strong>required</strong>
                  </mat-error> -->
                
              

                <div class="form-outline mb-4">
                  <!-- <label class="form-label" for="password1">Password</label>
                  <input  type="password"  id="password1" name="passworduser" #passwordlogin="ngModel" [(ngModel)]="passworduser" class="form-control form-control-lg" required />
                   -->
                   <div class="form-outline" col-md-12>
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Password</mat-label>
                      <input required id="password1" matInput placeholder="Enter Password" #passwordlogin="ngModel" name="passworduser" [(ngModel)]="passworduser"/>
                      <mat-error *ngIf="passwordlogin.invalid">
                        Password is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
        

                <div class="d-flex justify-content-center">
                  <button type="button" (click)="onclick()"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Sign In</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">New user? </p>
				<div class="d-flex justify-content-center">
				<button type="button" (click)="onclicksignup()"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
    </div> 
</section> 
</div>

<div *ngIf="isLogin==true">
    <app-dashboard></app-dashboard>
    <router-outlet></router-outlet>

</div>
<div *ngIf="issignup==true">
    <app-registration></app-registration>

</div>




